<div class="container grid grid-cols-10">
  <span class="col-span-7 font-bold inline-block text-sm">
    Users Live : <%= length(@users_online) %>
  </span>
  <span class="col-span-7 py-2 font-semibold inline-block text-blue-700 text-xs">
   <%= Enum.join(@users_online, ", ") %>
  </span>
</div>
